# Lirix Absolute Determinism Config
root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false # 允许 Markdown 的两个空格硬换行

[*.{yml,yaml,json,toml}]
indent_size = 2
